# $ pip install pip-tools
# $ pip-compile > requirements.txt
# $ pip-sync

# Production
dateutils
Django
jsonfield
wagtail
wagtailcodeblock
Wand  # For animated GIF support in wagtail image uploads.

# Development
# ipython
