[Unit]
Description=Website

[Service]
User=root
WorkingDirectory=/opt/website
ExecStart=/~/.virtualenvs/website/bin/gunicorn website.wsgi:application \
          --workers 2 \
          --bind 127.0.0.1:1234 \
          --log-level debug \
          --certfile /etc/letsencrypt/live/website.com/fullchain.pem \
          --keyfile /etc/letsencrypt/live/website.com/privkey.pem \
          --access-logfile /var/log/website-access.log \
          --error-logfile /var/log/website-error.log

[Install]
WantedBy=multi-user.target
Alias=website.service
